@charset "UTF-8"; /*========================================================
 CUSTOM WEDGEWORKS
========================================================*/
.prd-info { display: flex; justify-content: space-between; padding:32px 32px 24px 32px; border-bottom:1px solid #ddd; } 
.prd-info .name p { padding-top:4px; color:#5B5E63; } 
.select-wedge { display: flex; gap:24px; padding:32px; } 
.select-wedge button { flex:1; padding:24px; border:1px solid #ddd; border-radius: 8px; background-color: #fff; box-shadow: 0px 0px 24px 0px #272A2D1A; font-weight: bold; font-size: 20px; } 
.select-wedge button p { padding-top:16px; } 
.select-wedge button.select-complete { background-color: #F6F6F9; box-shadow: none; } 
.ico-select-hand { width:24px; height:24px; background:url('../images/ico-select-hand.svg') no-repeat; background-size:contain; } 
.ico-select-loft { width:24px; height:24px; background:url('../images/ico-select-loft.svg') no-repeat; background-size:contain; } 
.ico-select-finish { width:24px; height:24px; background:url('../images/ico-select-finish.svg') no-repeat; background-size:contain; } 

.select-wedge button:disabled { background-color: #F8F8F9; box-shadow: none; color:#aaa; } 
.select-wedge button:disabled i { opacity: 0.3; } 
.prd-thumbs { padding: 0 32px; } 
.prd-thumbs .swiper-main { overflow: hidden; width:100%; height: 740px; margin-top: 8px; margin-bottom: 16px; border-radius: 40px; } 
.prd-thumbs .swiper-thum .swiper-slide { overflow: hidden; border-radius: 8px; } 
.prd-thumbs .swiper-thum .swiper-slide.swiper-slide-thumb-active { border:3px solid #D2202F; } 
.btn-area { padding: 40px 48px 0; text-align: right; } 

.custom-rdo-field { display: flex; gap:24px; flex-wrap: wrap; } 
.custom-rdo-field label { display: flex; gap:8px; align-items: center; justify-content: center; font-size: 24px; border: 1px solid #ddd; border-radius: 8px; padding: 24px 0; text-align: center; color:#5B5E63; } 

.custom-rdo-field [type="radio"]+label .ico-check-complete { display: none; } 
.custom-rdo-field [type="radio"] { display: none; } 
.custom-rdo-field [type="radio"]:checked+label { border-width: 2px; border-color: #D2202F; font-weight: bold; color:#272A2D; } 

.custom-rdo-field [type="radio"]:checked+label .ico-check-complete { display: inline-block; } 

#popup-orientation .custom-rdo-field label { width: calc(50% - 12px); } 
#popup-loft .custom-rdo-field label { width: calc(25% - 18px); } 
#popup-finish .custom-rdo-field label { width: 100%; } 


/*========================================================
CUSTOM WEDGEWORKS - COMMON
========================================================*/ 
.area-prd-image { position: relative; background: #F8F8F9; } 
.area-prd-image img { width: 80%; max-width: 800px; } 
.area-prd-image .prd-name { position: absolute; right:32px; top:80px; text-align: right; font-weight: bold; font-size:32px; color:#D2202F; } 
.custom-tab ul { overflow-y: hidden; overflow-x: auto; width: 100%; align-items: start; justify-content: start; -ms-overflow-style: none; scrollbar-width: none; } 
.custom-tab ul::-webkit-scrollbar { display: none; } 
.custom-tab { padding:16px 0px 16px 16px; border-bottom: 1px solid #ddd; } 

.custom-wrap { padding-top:24px; padding-bottom:40px; } 
.custom-wrap h2 { padding-bottom:24px; } 
.symbols { display: flex; gap:16px; } 
.symbols img { width: 20px; } 
.symbols [type="radio"] { display: none; } 
.symbols label { padding:16px; border:1px solid #ddd; border-radius: 8px; } 
.symbols [type="radio"]:checked+label { border:2px solid #D2202F; } 
.info-txt { position: relative; } 
.info-pop { position: absolute; top:24px; left:0; width: 240px; line-height: 24px; font-weight: bold; display: none; font-size: 18px; color:#5B5E63; z-index: 999; background-color: #fff; padding:12px; border-radius: 8px; border:1px solid #ddd; } 
.info-pop.show { display: block; } 
.foot-btn { position: absolute; padding:0 16px; bottom:0px; left:0px; display: flex; justify-content: space-between; width: 100%; z-index: 999; } 

/*choose option rdo*/
.choose-option { display: flex; gap:16px; flex-wrap: wrap; } 
.choose-option img { margin-bottom: 8px; height: 90px; width: auto; } 
.choose-option [type="radio"] { display: none; } 
.choose-option label { display: flex; flex-direction: column; justify-content: center; align-items: center; padding:16px; border:1px solid #ddd; border-radius: 8px; } 
.choose-option p { color:#5B5E63 } 
.choose-option .name { font-weight: bold; text-align: center; } 
.choose-option [type="radio"]:checked+label { border:2px solid #D2202F; } 

/*========================================================
CUSTOM WEDGEWORKS - CHARACTER STAMPING
========================================================*/ 
.btn-open-stamping { display: flex; justify-content: space-between; width: 60%; background: #FFFFFF; border: 1px solid #DDDDDD; box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08); border-radius: 8px; font-size: 20px; color:#272A2D; } 
#popup-stamping .custom-rdo-field label { justify-content:space-between; width: 100%; padding:16px; text-align: left; } 

/*========================================================
CUSTOM WEDGEWORKS - COLOR OPTIONS
========================================================*/ 
.color-option-list { display: flex; flex-wrap: wrap; gap:24px; } 
.color-option-list .option { display: flex; flex-direction: column; } 
.color-option-list .img-box { padding:24px; background-color:#F6F6F9; border-radius: 8px; margin-bottom: 12px; } 

/*========================================================
CUSTOM WEDGEWORKS - TOE ENGRAVING
========================================================*/ 
.mix-color-pallet { display: flex; gap:16px; flex-wrap: wrap; } 
.mix-color-pallet [type="radio"] { display: none; } 
.mix-color-pallet label { display: flex; position: relative; overflow: hidden; width: 48px; height: 48px; border:1px solid #ddd; border-radius: 8px; } 
.mix-color-pallet label .half-color { width: 24px; height: 48px; } 
.mix-color-pallet [type="radio"]:checked+label { border:2px solid #D2202F; } 
.mix-color-pallet [type="radio"]:checked+label::after { content: ""; display: inline-block; background: url('../images/ico-check-complete.svg'); width: 24px; height: 24px; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); } 

/*========================================================
CUSTOM WEDGEWORKS - HAND GROUND
========================================================*/ 
.hand-ground-chk { display: grid; grid-template-columns: 1fr 1fr; gap:32px; } 
.hand-ground-chk .img-box { margin-top:12px; padding: 16px;; border:1px solid #ddd; border-radius: 8px; text-align: center; } 
.hand-ground-chk .img-box img { width: auto; } 
.hand-ground-chk label p { display: flex; justify-content: space-between; } 
.hand-ground-chk .custom-chk-area { position: relative; } 
.hand-ground-chk .ico-info { position: absolute; top:0px; right:0; } 
.hand-ground-chk .ico-info+input[type=checkbox]:disabled { opacity: .3; } 
.hand-ground-chk [type=checkbox]:checked+label p { font-weight: bold; } 

.hand-ground-chk [type=checkbox]:checked+label .img-box { border:2px solid #D2202F; } 

/*========================================================
CUSTOM WEDGEWORKS - SHAFT BAMD/SHAFT/GRIP
========================================================*/ 
.title-flex-sb { display: flex; justify-content: space-between; margin-top:40px; align-items: center; margin-bottom: 16px; } 
.title-flex-sb h2 { padding:0; } 
.title-flex-sb [class*="btn-open"] { display: flex; justify-content: space-between; padding: 12px 16px; min-width: 300px; background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 8px; color:#5B5E63; } 
.choose-option.one-line .txt-flex-sb { display: flex; justify-content: space-between; width: 100%; text-transform : uppercase; } 
.choose-option.one-line.shaft img { width: 512px; height: 37px; } 
.choose-option.one-line.grip img { width: 512px; height: 65px; } 
.choose-option.one-line label { width: 100%; } 
#popup-shaft-flex .custom-rdo-field label { width: calc(50% - 12px); } 

/*========================================================
CUSTOM WEDGEWORKS - SHAFT LASER ETCHING
========================================================*/ 
.available-charaters { margin-top:8px; background: #F6F6F9; border-radius: 8px; padding:16px; width: 60%; } 
.available-charaters h3 { font-size: 16px; padding-bottom: 8px; } 
.available-charaters p { font-size: 20px; font-weight: bold; } 

/*========================================================
CUSTOM WEDGEWORKS - SPECIFICATION,COMMENTS
========================================================*/ 
.spec-title { width: 100%; margin-top:24px; font-size: 20px; color:#272A2D; } 
.custom-rdo-field.spec-rdo { margin-bottom: 40px; } 
.custom-rdo-field.spec-rdo label { padding:16px; font-size: 20px; } 
.comments-txtarea { height: 300px; } 

/*========================================================
CONFIGURATION, LOGIN, ETC
========================================================*/ 
.contents-wrap{
    margin:16px;
}
.order-cont .area-prd-image .prd-name{
    top:32px;
}
.sub-title{
    font-size: 20px;;
    color: #272A2D;
    font-weight: bold;
    color: #272A2D;
    padding-top:24px;
    padding-bottom:8px;
}
.btn-wrap{
    display: flex;
    justify-content: space-between;
    margin-top:24px;
    padding-bottom:24px;
}
.summary-list{
    border:1px solid #ddd;
    border-radius: 8px;
}
.summary-list li{
    display: flex;
    justify-content: space-between;
    padding:8px 16px;
}
.summary-list li.total{
    font-weight: bold;
    background-color: #F6F6F9;
    border-top:1px solid #eee;
}
.login-wrap {
    margin: 25vh auto;
    width: 560px;
}
.login-wrap h1{
    font-size: 32px;
    margin-bottom: 48px;
}
.login-wrap .login-input-group{
    position: relative;
    margin-top: 32px;
}
.login-wrap .login-input-group .ico-{
    position: absolute;
    top:12px;
    left:8px;
}
.login-wrap .login-input-group input{
    padding-left:40px;
    width: 100%;
    border:0;
    border-bottom:1px solid #ddd;
}
.login-wrap .login-input-group input:focus,
.login-wrap .login-input-group input:focus-visible,
.login-wrap .login-input-group input:hover{
    border-radius: 0;;
    border:0;
    border-bottom:1px solid #D2202F;
    box-shadow: none;
}
.login-wrap .functions{
    display: flex;
    justify-content: space-between;
    margin-top:16px;
    margin-bottom: 64px;
    font-size: 18px;
    color: #272A2D;
}
.login-wrap .functions .find-pw{
    text-decoration-line: underline;
}
.login-wrap .btn-primary-slant{
    float:right;
    width: 160px;
}
.login-wrap .btn-primary-slant p{
    width: 100%;
    text-align: center;
}