@charset "UTF-8"; /*========================================================
 Fonts
========================================================*/
@import url('https://fonts.cdnfonts.com/css/gotham'); /*========================================================
 Reset
========================================================*/
html { -webkit-text-size-adjust:none; /* Chrome, Safari, newer version of Opera*/
 -moz-text-size-adjust:none; /* Firefox */
 -ms-text-size-adjust:none; /* ie */
 -o-text-size-adjust:none; /* old version of opera */ } 
 * { font-family:"GothamMedium","GothamBook","GothamBold",sans-serif; } 
html,body { height:100%; color:#272A2D; font-size:16px; font-weight:normal; word-break:keep-all; } 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; vertical-align:baseline; box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-font-smoothing:antialiased; -moz-box-sizing:border-box; -webkit-tap-highlight-color:transparent; } 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display:block; } 
ol, ul { list-style:none; } 
blockquote, q { quotes:none; } 
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } 
table { border-collapse:collapse; border-spacing:0; } 
table td,table th { word-break:keep-all; word-wrap:break-word; } 
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; } 
hr { overflow:visible; display:block; height:1px; margin:0; padding:0; border:0; border-top:1px solid #888; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; } 
a { background:transparent; text-decoration:none; color:inherit; cursor:pointer; } 
a:hover, a:active { text-decoration:none; outline:0; } 
address, caption, cite { font-weight:normal; font-style:normal; } 
strong, em, b { font-weight:bold; font-style:normal; } 
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; } 
sub { bottom:-0.25em; } 
sup { top:-0.5em; } 
legend,caption { overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; } 
fieldset, img { border:0 } 
label, select, input, textarea { vertical-align:middle; box-sizing:border-box } 
textarea { width:100%; border-radius:0; box-shadow:none; resize:none; appearance:none; -ms-overflow-style:none; -webkit-appearance:none; -webkit-border-radius:0; } 
img { width:100%; vertical-align:top; } 
img:not([src]) { visibility:hidden; } 
select { -webkit-appearance:none; /* for chrome */
 -moz-appearance:none; /*for firefox*/
 appearance:none; } 
select::-ms-expand { display:none; } 

/* skip navigation */
.skip-navi a { position:absolute; top:-999em; } 
.skip-navi a:focus { display:block; left:0; top:0; width:100%; height:30px; background:#000; color:#fff; text-align:center; line-height:30px; z-index:9999; } 


/*========================================================
 Fonts
========================================================*/
/* Gotham(Book, Bold) */
@font-face{
    font-family:"GothamBook";
    src:url("./font/GothamBook.woff2") format("woff2"),
        url("./font/GothamBook.woff") format("font-woff"),
        url("./font/GothamBook.ttf") format("truetype"),
        url("./font/GothamBook.eot#iefix") format("embedded-opentype");
    src:url("./font/GothamBook.eot");
    src:url("./font/GothamBook.otf") format("opentype");
    font-style:normal;
    font-display:swap;
    font-weight:400;
}
@font-face{
    font-family:"GothamBold";
    src:url("./font/Gotham-Bold.woff2") format("woff2"),
        url("./font/Gotham-Bold.woff") format("font-woff"),
        url("./font/Gotham-Bold.eot#iefix") format("embedded-opentype");
    src:url("./font/Gotham-Bold.eot");
    src:url("./font/Gotham-Bold.otf") format("opentype");
    font-style:normal;
    font-display:swap;
    font-weight: 700;
}
@font-face{
    font-family:"GothamMedium";
    src:url("./font/gotham-medium.woff2") format("woff2"),
        url("./font/gotham-medium.woff") format("font-woff");
    font-style:normal;
    font-display:swap;
    font-weight: 500;
}
/*========================================================
 Common
========================================================*/

/* Title, Text ===============================================*/
[class*="bullet-txt"][class*="import"]::before { content: '※'; display: inline-block; font-size: 16px; width: 20px; margin-left: -20px; background: none; } 
[class*="bullet-txt"] { color: #5B5E63; font-size: 18px; line-height: 24px; display: block; margin-bottom: 12px; margin-left: 20px; position: relative; } 
.txt-primary { color:#D2202F !important } 

/* Text Align,Style ===============================================*/
.text-left { text-align:left !important; } 
.text-right { text-align:right !important; } 
.text-center { text-align:center !important; } 
.text-normal { font-weight:normal !important; } 
.text-bold { font-weight:bold !important; } 

/* Float Align ===============================================*/
.float-lt { float: left; } 
.float-rt { float: right; } 

/* Icon ===============================================*/
[class*="ico-"] { display:inline-block; vertical-align:middle; font-style:normal; text-indent:-9999px; } 
[class*="btn-"] [class*="ico-"] { margin-right:8px; } 

.ico-user { width:24px; height:24px; background:url('../images/ico-user.svg') no-repeat; background-size:contain; } 
.ico-cart { width:24px; height:24px; background:url('../images/ico-cart.svg') no-repeat; background-size:contain; } 
.ico-check-complete { width:24px; height:24px; background:url('../images/ico-check-complete.svg') no-repeat; background-size:contain; } 
.ico-arrow-down { width:24px; height:24px; background:url('../images/ico-arrow-down.svg ') no-repeat; background-size:contain; } 
.ico-refresh { width:24px; height:24px; background:url('../images/ico-refresh.svg ') no-repeat; background-size:contain; } 
.ico-info { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-info.svg ') no-repeat; background-size:contain; } 
.ico-prev-arrow { width:32px; height:32px; vertical-align: bottom; background:url('../images/ico-prev-arrow.svg ') no-repeat; background-size:contain; } 
/* .ico-next-arrow { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-next-arrow.svg ') no-repeat; background-size:contain; }  */
.ico-kakao { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-kakao.svg ') no-repeat; background-size:contain; } 
.ico-login-id { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-login-id.svg ') no-repeat; background-size:contain; } 
.ico-login-pw { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-login-pw.svg ') no-repeat; background-size:contain; } 
.ico-move-arrow { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-move-arrow.svg') no-repeat; background-size:contain; } 
.ico-remove { width:24px; height:24px; vertical-align: bottom; background:url('../images/ico-remove.svg') no-repeat; background-size:contain; } 
.ico-home { width:28px; height:28px; vertical-align: bottom; background:url('../images/ico-home.svg') no-repeat; background-size:contain; } 

/* Button ===============================================*/
.btn { display:inline-flex; justify-content: center;align-items: center; position:relative; padding:16px 20px; border:none; border-radius:8px; background-color:#D2202F; font-weight: bold; font-size:18px; line-height: 24px; color:#fff; } 

.btn-primary-slant { padding:16px 32px; transform: skew(-20deg); background-color: #D2202F; border-radius: 0px; font-weight: bold; font-size:20px; } 
.btn-primary-slant p { transform: skew(20deg); } 
.btn-primary-slant:disabled { opacity: .5; } 
.btn-gray { justify-content: space-between; background-color: #ECECF0; color:#272A2D; } 
.btn-arrow { background-color: #fff; color:#272A2D; box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16); border-radius: 48px; } 
.btn-kakao { background-color:#F9E000; color: #272A2D; } 
.btn-lined { background-color: #fff; border:2px solid #D2202F; color:#D2202F } 
.btn-cancel { background-color: #fff; border:2px solid #ddd; color:#5B5E63 } 
.btn-ghost { border:none !important; padding:0; } 
.btn-sm-bk { background-color: #272A2D; color:#ffffff; padding:8px 16px; } 
.btn-sm-wt { gap:8px; background-color: #fff; color:#5B5E63; font-weight: 500; padding:8px 16px; border:1px solid #ddd; } 
.btn-refresh { gap:8px; background-color: #fff; color:#2D7BF0; font-weight: 500; border:1px solid #ddd; } 

/*========================================================
 Form
========================================================*/
/* input(default) */
input,.form-control { padding:12px 16px; background-color:#fff; border:solid 1px #ccc; border-radius:8px; color:#272A2D; font-size:20px; font-weight: 500; line-height:24px; } 
input:hover,input:focus,input:focus-visible,
.form-control:hover,.form-control:focus,.form-control:focus-visible { background-color:#fff; border-color:#D2202F; outline:0; box-shadow: 0px 0px 16px rgba(210, 32, 47, 0.2); } 
input[read-only="true"],.form-control:read-only,input:read-only:hover, input:read-only:focus { background-color:#f1f1f1; border-color:#ccc; color:#333; } 
input[disabled="true"],.form-control:disabled { background-color:#f1f1f1; border-color:#ccc; color:#000; } /* #3b4775 #09112e #aab3c4 */
input::placeholder,.form-control::placeholder { color:#aaa; } 
textarea { padding:12px 16px; border-color:#ccc; border-radius: 8px; font-size:18px; line-height:24px; font-weight:bold; } 
textarea:hover,textarea:focus { background-color:#fff; border-color:#D2202F; outline:0; box-shadow: 0px 0px 16px rgba(210, 32, 47, 0.2); } 
textarea::placeholder { color:#aaaaaa } 
/* input(group) ---------------------------------------- */
[class*="input-group"] { position:relative; display:flex; flex-wrap:wrap; align-items:stretch; gap: 8px; width:100%; } 
[class*="input-group"][class*="label"] { display:block; color:#5B5E63; font-size:18px; font-weight:bold; white-space:nowrap; } 
[class*="input-group"][class*="text"] { display:flex; align-items:center; margin-right:10px; width:auto; color:#000; font-size:16px; font-weight:bold; letter-spacing:-.32px; white-space:nowrap; } 
[class*="input-group"][class*="center"] { justify-content:center; } 
.input-group > .form-control { position:relative; flex:1 1 auto; width:1%; min-width:0; } 
.input-group select,
.input-group .custom-select { flex:1 } 
.input-group select ~ select,
.input-group select + select,
.input-group .custom-select ~ .custom-select,
.input-group .custom-select + .custom-select { margin-left:10px; } 
/* sm-basic */
.input-group.sm-basic input { min-height:35px; padding-right:40px; } 
.input-group.sm-basic .btn { position:absolute; top:0; right:0; bottom:0; } 



/*========================================================
 UI
========================================================*/
/* Tab ---------------------------------------- */
.tab-menu ul { display:flex; gap:24px; align-items: center; } 
.tab-menu ul > li > a { display:block; position:relative; padding:8px 16px; color:#5B5E63; font-size:20px; font-weight:bold; text-align:center; white-space:nowrap; } 
.tab-menu ul > li.current > a { background:#D2202F1A; color:#D2202F; border-radius:24px; } 

.chip { display: flex; gap:16px; font-weight: bold; } 
.chip li { padding:8px 16px; background: #EEEEEE; border-radius: 8px; color: #5B5E63; cursor: pointer; } 
.chip li.current { background: #272A2D;; color: #ffffff; } 

/*========================================================
 Table
========================================================*/
table.order-detail-tbl { border:1px solid #DDDDDD; font-size: 16px; width: 100%; text-align: left; } 
table.order-detail-tbl td,th { padding:8px } 
table.order-detail-tbl thead { background-color: #fff; border-bottom: 1px solid #dddddd; } 
table.order-detail-tbl th { background-color: #fff; font-weight: bold; vdcolor:#5B5E63; } 
table.order-detail-tbl tr:nth-of-type(even) { background-color: #F6F6F9; } 
table.order-detail-tbl tr:nth-of-type(odd) { background-color: #FFFFFF; } 

/*========================================================
 Layer Popup
========================================================*/
.layer-wrap { display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index: 10001; } 
body.layer-dim .layer-wrap.layer-index:before { content:none } 
.layer-wrap.active { display:block; } 
.layer-wrap .layer-pop { position:absolute; top:50%; left:50%; z-index:100; border-radius:24px; box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12); background:#fff; -webkit-transform:translate3d(0,0,0) translateZ(1); transform:translate3d(0,0,0) translateZ(1); -webkit-transform:translateY(-50%) translateX(-50%); transform:translateY(-50%) translateX(-50%); -webkit-backface-visibility:hidden; backface-visibility:hidden; } 
.layer-pop .layer-inner { position:relative; } 
.layer-pop .layer-inner .ui-close-pop { position:absolute; top:12px; right:10px; } 
.layer-pop .layer-inner .btn-area .ui-close-pop { position:static; top:0; right:0; } 
.layer-pop .layer-inner .layer-head { padding:40px 32px 32px; } 
.layer-pop .layer-inner .layer-head h1 { font-size: 24px; } 
.layer-pop .layer-inner .layer-content { padding:0 32px 0px; } 
.layer-pop .layer-inner .layer-footer { display: flex; justify-content: flex-end; gap:16px; padding:32px; } 
/* scroll */
.scroll-area { position:relative; } 
.scroll-area.ui-custom-scroll { margin-right: -11px; } 
/* dim */
.layer-wrap:before { content: ''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background: #DDDDDDCC; z-index:100; } 
/* dim-type */
.layer-wrap.dim-type:before { content:none } 
.layer-dim-area { width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(0, 0, 0, 0.5); } 
.layer-dim-area .ui-close-pop { position:absolute; top:40px; right:60px; z-index:99 } 
.layer-dim-area .dim-close { position:absolute; top:0; left:0; width:100%; height:100%; z-index:98 } 
.layer-wrap.dim-type .layer-pop .layer-inner .ui-close-pop { top:0; right:-45px; width:45px; height:45px; background:rgba(0, 0, 0, 0.5); text-align:center } 
.layer-wrap.dim-type .layer-pop .layer-inner .ui-close-pop > i { display:inline-block; margin-top:3px } 

/* 사이즈 */
/* size */
.layer-inner.layer-lg { width:90%; min-width: 800px; } 
.layer-inner.layer-md { width:50%; min-width: 600px; } 

/* confirm 팝업 */
.layer-wrap .layer-confirm { position:absolute; top:50%; left:50%; z-index:100; -webkit-transform: translate(-50%, -50%); transform:translate(-50%, -50%); } 
.layer-pop.confirm { min-width:450px; border:1px solid #ddd; background:#fff; } /* overflow:hidden; */
.layer-pop.confirm .layer-inner { position:relative; width:100%; min-height:268px; padding:40px 30px 87px; text-align:center; } /* min-height:270px; */
.layer-pop.confirm .message { vertical-align:middle; } 
.layer-pop.confirm .message [class*="ico"] { margin-top:5px; } 
.layer-pop.confirm .message .tit { margin-top:18px; font-family:'NanumSquareNeoExtraBold'; font-size:28px; line-height:30px; letter-spacing:-.28px; } 
.layer-pop.confirm .message .txt { margin-top:15px; } 
.layer-pop.confirm .message .txt,
.layer-pop.confirm .message .list { font-size:16px; line-height:23px; font-weight:bold; letter-spacing:-.16px; } 
.layer-pop.confirm .message .list { margin-top:21px; } 
.layer-pop.confirm .message .list em { margin-right:5px; } 
.layer-pop.confirm .message .list b { margin-left:5px; } 
.layer-pop.confirm .ui-close-pop { position:absolute; top:12px; right:10px; } 
.layer-pop.confirm .btn-area { position:absolute; right:-1px; bottom:-1px; left:-1px; display:flex; flex-direction:row; justify-content:center; width:calc(100% + 2px); text-align:center; } 
.layer-pop.confirm .btn-area .btn { flex:1; margin:0; height:60px; font-family:'NanumSquareNeoExtraBold'; font-size:20px; letter-spacing:-.2px; } 
.layer-pop.confirm .btn-area [class*="grey"] { background-color:#666; } 
.layer-pop.confirm .btn-area [class*="black"] { background-color:#222; } 
.layer-pop.confirm .btn-area [class*="grey"]:hover { background-color:#444; } 
.layer-pop.confirm .btn-area [class*="black"]:hover { background-color:#000; } 
.layer-pop.confirm .btn-area .ui-close-pop { position:static; } 



/* Size ===============================================*/
/* margin ---------------------------------------- */
/* margin top */
.mt2 { margin-top:2px !important } 
.mt4 { margin-top:4px !important } 
.mt8 { margin-top:8px !important } 
.mt16 { margin-top:16px !important } 
.mt20 { margin-top:20px !important } 
.mt24 { margin-top:24px !important } 
.mt32 { margin-top:32px !important } 
.mt40 { margin-top:40px !important } 
.mt48 { margin-top:48px !important } 
.mt56 { margin-top:56px !important } 
.mt64 { margin-top:64px !important } 

/* margin left */
.ml4 { margin-left:4px !important } 
.ml8 { margin-left:8px !important } 
.ml16 { margin-left:16px !important } 
.ml24 { margin-left:24px !important } 
.ml32 { margin-left:32px !important } 
.ml40 { margin-left:40px !important } 

/* margin right */
.mr4 { margin-right:4px !important } 
.mr8 { margin-right:8px !important } 
.mr16 { margin-right:16px !important } 
.mr24 { margin-right:24px !important } 
.mr32 { margin-right:32px !important } 
.mr40 { margin-right:40px !important } 

/* margin bottom */
.mb2 { margin-bottom:2px !important } 
.mb4 { margin-bottom:4px !important } 
.mb8 { margin-bottom:8px !important } 
.mb16 { margin-bottom:16px !important } 
.mb20 { margin-bottom:20px !important } 
.mb24 { margin-bottom:24px !important } 
.mb32 { margin-bottom:32px !important } 
.mb40 { margin-bottom:40px !important } 
.mb48 { margin-bottom:48px !important } 
.mb56 { margin-bottom:56px !important } 
.mb64 { margin-bottom:64px !important } 


/* width */
.w80 { width:80px !important; } 
.w100 { width:100px !important; } 
.w110 { width:110px !important; } 
.w120 { width:120px !important; } 
.w130 { width:130px !important; } 
.w150 { width:150px !important; } 
.w160 { width:160px !important; } 
.w165 { width:165px !important; } 
.w170 { width:170px !important; } 
.w175 { width:175px !important; } 
.w180 { width:180px !important; } 
.w185 { width:185px !important; } 
.w190 { width:190px !important; } 
.w195 { width:195px !important; } 
.w200 { width:200px !important; } 
.w210 { width:210px !important; } 
.w215 { width:215px !important; } 
.w225 { width:225px !important; } 
.w250 { width:250px !important; } 
.w260 { width:260px !important; } 
.w270 { width:270px !important; } 
.w280 { width:280px !important; } 
.w290 { width:290px !important; } 
.w300 { width:300px !important; } 
.w325 { width:325px !important; } 
.w350 { width:350px !important; } 
.w360 { width:360px !important; } 
.w400 { width:400px !important; } 
.w425 { width:425px !important; } 
.w450 { width:450px !important; } 
.w500 { width:500px !important; } 
.w570 { width:570px !important; } 
.w600 { width:600px !important; } 
.w700 { width:700px !important; } 
.w800 { width:800px !important; } 
.w900 { width:900px !important; } 

/* width(%) */
.w5p { width:5% !important; } 
.w10p { width:10% !important; } 
.w15p { width:15% !important; } 
.w20p { width:20% !important; } 
.w25p { width:25% !important; } 
.w30p { width:30% !important; } 
.w35p { width:35% !important; } 
.w40p { width:40% !important; } 
.w45p { width:45% !important; } 
.w50p { width:50% !important; } 
.w55p { width:55% !important; } 
.w60p { width:60% !important; } 
.w65p { width:65% !important; } 
.w70p { width:70% !important; } 
.w80p { width:80% !important; } 
.w90p { width:90% !important; } 
.w100p { width:100% !important; } 


/*========================================================
 Plugin
========================================================*/
/* color picker */
.color-picker-wrap { display: flex; gap:8px;  min-width: 190px;} 
.colorDisplay { display: inline-block; width: 24px; height: 24px; border-radius: 8px; background-color: #fff; } 
.color-picker-wrap .colorName { text-align: left; font-size: 16px; padding-right: 12px; } 

.colorDisplay.mix { overflow: hidden; display: flex; } 
.colorDisplay.mix .half-color { width: 50%; height: 100%; } 
.colorDisplay.mix .half-color.color1 { background-color: #FFFFFF; } 
.colorDisplay.mix .half-color.color2 { background-color: #000000; } 


/*=====================================================
Checkbox
=======================================================*/
.custom-chk-area input[type=checkbox] { display: none; } 
.custom-chk-area input[type=checkbox]+label::before { content: ""; display: block; float: left; margin-top:-3px; margin-right: 4px; width: 24px; height: 24px; background-image: url('../images/ico-checkbox-off.svg'); } 
.custom-chk-area input[type=checkbox]:checked+label::before { background-image: url('../images/ico-checkbox-on.svg'); } 
.custom-chk-area input[type=checkbox]:disabled+label { opacity: 0.3; } 


/*drawpad*/

[class*="drawpad"]{ background-color:#F6F6F9 ; border:0; border-radius: 8px; width: 100%; min-height: 120px;}