@charset "UTF-8"; /*========================================================
 Layout
========================================================*/

.wrap { position:relative; margin: auto; background-color: #fff; } 

/* Layout : Header ---------------------------------------- */
header { display:flex; justify-content:space-between; align-items: center; height:72px; width:100%; padding:0 32px; border-bottom:1px solid #EEEEEE; z-index:9999; } 
.head-logo img { height: 32px; width: auto; } 
.gnb ul { display: flex; gap : 32px; font-weight: bold; align-items: center; } 
.gnb ul .cart { position: relative; } 
.gnb ul .cart .number { display: inline-block; position: absolute; top:-8px; right:-8px; width:18px; height:18px; border-radius: 18px; background-color:#D2202F; color:#fff; font-size: 12px; font-weight: bold; line-height: 16px; text-align: center; } 
header .hd_title { font-size: 22px;} 
header .hd_title span::after{content:"|"; color:#ddd; margin-right: 12px;  margin-left: 12px; font-size: 18px; line-height: 22px; font-weight: 100;} 
header .hd_title span:last-child:after{content:""; margin:0;} 


/* Layout : Content ---------------------------------------- */
.cont-wrap { margin:16px; position: relative; height: calc(100vh - 624px); overflow-y: scroll; } 
.cont-wrap .btn-refresh { position: absolute; top:0; right:0; } 
.submit-wrap { display: flex; justify-content: end; align-items: center; gap:16px; position:fixed; bottom:0; width: 100%; padding:8px 16px; background-color: #fff; border-top:1px solid #ddd; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16); } 
.submit-wrap .price { font-size: 20px; line-height: 19px; text-transform: uppercase; color: #272A2D; } 
